<div class="grid-category">
    <div class="category-card" *ngFor="let item of data">
      <div class="card-controller">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item disabled>
              <mat-icon>publich</mat-icon>
              <span>Публикация</span>
          </button>
          <button mat-menu-item disabled>
              <mat-icon>mode_comment</mat-icon>
              <span>Коментирование</span>
          </button>
          <button mat-menu-item >
              <mat-icon>delete</mat-icon>
              <span>Удалить</span>
          </button>
        </mat-menu>
      </div>
      <div><h2>{{item.name}}</h2></div>
      <div><img [src]="item.imageSrc" alt=""></div>
      <div><p>{{item.description}}</p></div>
      <div class="card-buttons">
        <button mat-button class="but but-accent" [routerLink]="['/category', item.id]" >
            Смотреть
        </button>
        <button mat-button class="but but-primary" (click)="editCategory(item)">
            Редактировать
        </button>
      </div>
    </div>
</div>
